$color-primary: #99cdd0;
$color-secondary: #36455D;
$color-tertiary: #008289;
$color-white: #ffffff;
$color-cuaternary: #a6d04f;
$font-weight-bold: 700;
$font-weight-semi-bold: 500;
$font-main: "Fuente Geometric";
$color-clear-gray: #ababab;
$color-gray: #9197b3;
$emerland-green: #008289;
$color-disabled: #F3F3F3;
$border-disabled: #C7C7C7;