@import "../../Variables/variables";

.containerWizard {
    padding: 10px;
    background: white;
    border-radius: 8px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    min-height: 39vh;
    max-height: 700px;
    width: 50vw;

    .steps {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 17px;
    }

    .step {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px;
    }

    .stepIcon {
        width: 18px;
        height: 18px;
        position: relative;
    }

    .stepIconInner {
        width: 15px;
        height: 15px;
        left: 1.5px;
        top: 1.5px;
        position: absolute;
        border: 1.5px solid #A6D04F;
    }

    .stepTitle {
        text-align: center;
        color: #A6D04F;
        font-size: 16px;
        font-family: $font-main;
        font-weight: 700;
        word-wrap: break-word;
    }

    .divider {
        width: 16px;
        height: 16px;
        position: relative;
    }

    .dividerInner {
        width: 4px;
        height: 8px;
        left: 6px;
        top: 4px;
        position: absolute;
        border: 1.33px solid #36455D;
    }

    .formFields {
        display: flex;
        gap: 15px;
        width: 100%;
    }

    .form {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        border: 0.5px solid #9197B3;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
    }

    .formGroup {
        display: inline-flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
    }

    .formName {
        width: 100%;
    }

    .formLabel {
        padding-left: 7px;
        padding-right: 10px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        font-weight: 700;
        color: $color-secondary;
    }

    .formLabelRequired {
        color: #FF0B0B;
        font-size: 16px;
        font-family: $font-main;
        font-weight: 700;
        word-wrap: break-word;
    }

    .formInput {
        width: 513px;
        padding: 6px 10px;
        border-radius: 6px;
        border: 0.5px solid #C7C7C7;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .formInputText {
        flex: 1;
        color: #C7C7C7;
        font-size: 15px;
        font-family: $font-main;
        font-weight: 400;
        word-wrap: break-word;
    }

    .selectWrapper {
        width: 247px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 4px;
    }

    .select {
        width: 247px;
        height: 30px;
        padding: 10px;
        border-radius: 6px;
        border: 0.5px solid #C7C7C7;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 49px;
    }

    .selectText {
        flex: 1;
        color: #C7C7C7;
        font-size: 15px;
        font-family: $font-main;
        font-weight: 600;
        word-wrap: break-word;
    }

    .selectIconWrapper {
        width: 20px;
        height: 20px;
        position: relative;
        transform: rotate(90deg);
        transform-origin: 0 0;
    }

    .selectIcon {
        width: 5px;
        height: 10px;
        left: 7.5px;
        top: 5px;
        position: absolute;
        border: 2px solid #9197B3;
    }

    .datePickerWrapper {
        width: 200px;
        height: 30px;
        padding: 6px 10px;
        border-radius: 6px;
        border: 0.5px solid #9197B3;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .datePickerText {
        flex: 1;
        color: #C7C7C7;
        font-size: 15px;
        font-family: $font-main;
        font-weight: 600;
        word-wrap: break-word;
    }

    .datePickerIconWrapper {
        width: 16px;
        height: 16px;
        position: relative;
        transform: rotate(90deg);
        transform-origin: 0 0;
    }

    .datePickerIcon {
        width: 4px;
        height: 8px;
        left: 6px;
        top: 4px;
        position: absolute;
        border: 1.33px solid #36455D;
    }

    .descriptionLabel {
        padding-left: 7px;
        padding-right: 10px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .description {
        width: 1056px;
        height: 100px;
        padding: 6px 10px;
        border-radius: 6px;
        border: 0.5px solid #9197B3;
        display: inline-flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
    }

    .descriptionText {
        flex: 1;
        color: #C7C7C7;
        font-size: 15px;
        font-family: $font-main;
        font-weight: 400;
        word-wrap: break-word;
    }

    .nextButton {
        padding: 10px 20px;
        background: #A6D04F;
        width: 66px;
        cursor: pointer;
        border-radius: 8px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .containerButtons {
        width: auto;
        display: flex;
        justify-content: end;
    }

    .nextButtonText {
        color: #F3F3F3;
        font-size: 18px;
        font-family: $font-main;
        font-weight: 700;
        word-wrap: break-word;
    }

    .actions {
        display: inline-flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 53px;
        padding-left: 275px;
        padding-right: 275px;
    }

    .stepTitleDesactivate {
        text-align: center;
        color: $color-gray;
        font-size: 16px;
        font-family: $font-main;
        font-weight: 700;
        word-wrap: break-word;
    }

    .cancelButton {
        width: 234px;
        padding: 10px;
        border-radius: 8px;
        border: 1px solid #A6D04F;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }

    .cancelButtonText {
        color: #9197B3;
        font-size: 18px;
        font-family: $font-main;
        font-weight: 700;
        word-wrap: break-word;
        cursor: pointer;
    }

    .saveDraftButton {
        width: 234px;
        cursor: pointer;
        padding: 10px;
        background: #008289;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .saveDraftButtonText {
        color: #F3F3F3;
        font-size: 18px;
        font-family: $font-main;
        font-weight: 700;
        word-wrap: break-word;
    }

    .inputField {
        border-radius: 6px;
        border: 0.5px solid var(--inputs, #C7C7C7);
        width: 100%;
        height: 39px;
        font-size: 15px;
        padding-left: 10px;
        color: #36455D;

        &:focus {
            outline: none;
        }
    }

    .containerButtonsFather {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .containerSecond {
        width: 100%;
        height: 100%;
        padding: 10px;
        justify-content: start;
        align-items: start;
        gap: 10px;
        display: flex;
        flex-direction: column;

        .textSecond {
            color: #36455D;
            font-size: 15px;
            font-family: $font-main;
            font-weight: 500;
            word-wrap: break-word;
        }

        .addRequirementContainer {
            cursor: pointer;
            width: 100%;
            justify-content: center;
            align-items: center;
            gap: 10px;
            display: inline-flex;
        }

        .addRequirementRelative {
            width: 18px;
            height: 18px;
            position: relative;
        }

        .addRequirementAbsolute {
            width: 15px;
            height: 15px;
            left: 1.50px;
            top: 1.50px;
            position: absolute;
            border: 1.50px #A6D04F solid;
        }

        .addRequirementText {
            color: #9197B3;
            font-size: 18px;
            font-family: $font-main;
            font-weight: 600;
            word-wrap: break-word;
        }
    }

    .secondStepContainer {
        min-height: 146px;
        width: 100%;
        max-height: 405px;
        overflow-y: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 12px;
        display: inline-flex;

        .secondStepInnerContainer {
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            display: inline-flex;
        }

        .secondStepPadding1 {
            padding: 10px;
            padding-left: 0px;
            justify-content: start;
            align-items: center;
            gap: 10px;
            display: flex;
            width: 17.3vw;
        }

        .secondStepPadding2 {
            padding: 10px;
            padding-left: 0px;
            justify-content: start;
            align-items: center;
            gap: 10px;
            display: flex;
            width: 26vw;
        }

        .secondStepText {
            color: #36455D;
            font-size: 15px;
            font-family: $font-main;
            font-weight: 700;
            word-wrap: break-word;
        }

        .secondStepWidth {
            width: 100%;
            padding-bottom: 10px;
            border-bottom: 0.50px #C7C7C7 dotted;
            justify-content: flex-start;
            align-items: center;
            gap: 60px;
            display: inline-flex;
        }

        .secondStepHeight {
            gap: 10px;
            display: flex;
            width: 26vw;
        }

        .secondStepFlex {
            flex: 1 1 0;
            color: #36455D;
            font-size: 15px;
            font-family: $font-main;
            font-weight: 600;
            word-wrap: break-word;
        }

        .secondStepRelative {
            width: 18px;
            height: 18px;
            position: relative;
        }

        .secondStepAbsolute {
            width: 15px;
            height: 15px;
            left: 1.50px;
            top: 1.50px;
            position: absolute;
            border: 1.50px #9197B3 solid;
        }
    }
}

.selectContainerFirstStep {
    height: 30px;

}

.projectContainerClass {
    font-size: 16px !important;
}

.projectTitleClass {
    margin-bottom: 0px !important;
}

.selectionBoxClass {
    height: 13px !important;
    border: 0.5px solid #C7C7C7 !important;
}