@import "../../Variables/variables";

.tooltipRefused1 {
    width: 4vw;
    height: 2.5vh;
    top: -5px;
    right: -25px;
    position: absolute;
    padding: 4px 10px;
    background: white;
    border-radius: 4px;
    border: 1px $color-cuaternary solid;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.tooltipRefused2 {
    width: 4vw;
    height: 2.5vh;
    z-index: 999;
    position: absolute;
    top: -34px;
    right: -10px;
    padding: 4px 10px;
    background: white;
    border-radius: 4px;
    border: 1px $color-cuaternary solid;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-right: 10px;
}

.innerDiv {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;

    .text {
        color: $color-secondary;
        font-size: 14px;
        font-family: $font-main;
        font-weight: 500;
        word-wrap: break-word;
    }
}