@import "../../Variables/variables";

.containerInformationGeneral {
  width: 99%;
  height: 100%;
  margin-left: 18px;
}

.observationsFieldContainer {
  width: 100%;
  height: auto;
  justify-content: flex-start;
  gap: 12px;
  display: flex;
  flex-wrap: wrap;
   align-items: end;
  padding: 10px;
  > * {
    flex-basis: content;
  }
}

.observationsFieldItem {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;
  display: flex;
}

.observationsFieldInnerItem {
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.observationsFieldText {
  color: #36455d;
  font-size: 18px;
  font-family: $font-main;
  font-weight: 600;
  word-wrap: break-word;
}

.observationsFieldSubitem {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1px;
  display: flex;
}

.observationsFieldSubitemInner {
  cursor: pointer;
  padding: 4px;
  border-radius: 2px;
  border: 1px solid #c7c7c7;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: flex;
}

.observationsFieldIconContainer {
  width: 18px;
  height: 18px;
  position: relative;
}

.observationsFieldIcon {
  width: 13.5px;
  height: 13.5px;
  left: 2.25px;
  top: 2.25px;
  position: absolute;
  border: 1.5px solid #c7c7c7;
}

.observationsFieldSubitemInner2 {
  cursor: pointer;
  padding: 4px;
  border-radius: 2px;
  border: 1px solid #a6d04f;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: flex;
}

.observationsFieldIcon2 {
  width: 13.5px;
  height: 9px;
  left: 2.25px;
  top: 4.5px;
  position: absolute;
  border: 1.93px solid #a6d04f;
}

.observationsFieldSubitemInner3 {
  padding: 4px;
  border-radius: 2px;
  border: 1px solid #c7c7c7;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: flex;
}

.observationsFieldIcon3 {
  width: 13.5px;
  height: 15px;
  left: 2.25px;
  top: 1.5px;
  position: absolute;
  border: 1.5px solid #c7c7c7;
}

.optionsContainerRequirement {
  display: flex;
  height: 100%;
  gap: 12px;
  margin-bottom: 10px;
}
